services:
  - type: web
    name: wokilite-api
    runtime: node
    plan: free
    buildCommand: cd api && npm install && npm run build
    startCommand: cd api && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000